{% extends '_base.html' %}

{% block content %}
    <div id="modals-here" hx-target="this" hx-swap="innerHTML"></div>

    <script>
        function closeModal() {
            var container = document.getElementById("modals-here")
            var modal = document.getElementById("modal")

            modal.classList.remove("show")

            setTimeout(function () {
                container.removeChild(modal)
            }, 200)
        }
    </script>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">{{ student.first_name }} {{ student.last_name }}</h1>
            <a href="{% url 'student_update' student.id %}" class="btn btn-primary">Update</a>
            <a href="{% url 'student_delete' student.id %}" class="btn btn-danger">Delete</a>
            <ul>
                <li>First Name: {{ student.first_name }}</li>
                <li>Last Name: {{ student.last_name }}</li>
                <li>Email: {{ student.email }}</li>
                <li>Student Phone: {{ student.student_phone }}</li>
                <li>Payment ID: {{ student.payment_id }}</li>
            </ul>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Subscriptions</h1>
            {% if subscriptions %}
                {% for subscription in subscriptions %}
                    <ul>
                        <li>ID: {{ subscription.id }}</li>
                        <li>Status: {{ subscription.status }}</li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>No Subscriptions</p>
            {% endif %}

            <button
                    hx-get="{% url 'student_square_modal' student.id %}"
                    hx-target="#modals-here"
                    hx-trigger="click"
                    class="btn btn-primary"
                    hx-vals='{"step": "ask"}'
                    {#                    _="on htmx:afterOnLoad wait 10ms then add .show to #modal then add .show to #modal-backdrop"#}
            >Connect
                with payment provider
            </button>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <h2>Rank History</h2>
            <div id="rank_table">{% include "partials/students_ranks.html" %}</div>
            <div hx-target="#rank_table" hx-swap="innerHTML">
                <form class="row gy-2 gx-3 align-items-center" method="post">
                    {% csrf_token %}
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                        <select class="form-select" id="autoSizingSelect" required name="rank">
                            <option selected disabled>-- Select Rank --</option>
                            {% for rank in ranks %}
                                <option value="{{ rank.pk }}">{{ rank.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingSelect">Preference</label>
                        <select name="belt_size" class="form-select" id="autoSizingSelect" required>
                            <option selected disabled>-- Select Belt Size --</option>
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>
                    <div class="col-auto">
                        <label class="visually-hidden" for="autoSizingInputGroup">Username</label>
                        <div class="input-group">
                            <input type="date" name="date" required class="form-control">
                        </div>
                    </div>

                    <div class="col-auto">
                        <button type="submit" hx-post="{% url 'create_rank' student.pk %}"
                                class="btn btn-primary">Submit
                        </button>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}